<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center mt-5">Student Details</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">email</th>
                <th scope="col">Country</th>
                <th scope="col">State</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <td scope="col">Ajinkya</td>
                <td scope="col">Bhagat</td>
                <td scope="col">23</td>
                <td scope="col">ajinkya@gmail.com</td>
                <td scope="col">India</td>
                <td scope="col">maharashtra</td>
                <td scope="col">pune</td>
            </tr>
            <tr>
                <td scope="col">shardul</td>
                <td scope="col">Bhingardive</td>
                <td scope="col">21</td>
                <td scope="col">ajinkya@gmail.com</td>
                <td scope="col">India</td>
                <td scope="col">maharashtra</td>
                <td scope="col">mumbai</td>
            </tr>
            <tr>
                <td scope="col">parth</td>
                <td scope="col">pujari</td>
                <td scope="col">24</td>
                <td scope="col">ajinkya@gmail.com</td>
                <td scope="col">India</td>
                <td scope="col">maharashtra</td>
                <td scope="col">pune</td>
            </tr>
            <tr>
                <td scope="col">nitin</td>
                <td scope="col">tathe</td>
                <td scope="col">24</td>
                <td scope="col">ajinkya@gmail.com</td>
                <td scope="col">India</td>
                <td scope="col">maharashtra</td>
                <td scope="col">mumbai</td>
            </tr>
            <tr>
                <td scope="col">vimu</td>
                <td scope="col">kale</td>
                <td scope="col">24</td>
                <td scope="col">ajinkya@gmail.com</td>
                <td scope="col">India</td>
                <td scope="col">maharashtra</td>
                <td scope="col">mumbai</td>
            </tr>
        </tbody>
    </table>
</body>
</html>