<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="color:#FE2414">THE ROYAL ENFIELD STORY, SINCE 1901</h1>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Royal Enfield</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, corporis assumenda enim aliquam laudantium at velit saepe a reprehenderit, consequuntur voluptate. Labore optio ea velit dolores quibusdam hic quis mollitia!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Royal Enfield</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, corporis assumenda enim aliquam laudantium at velit saepe a reprehenderit, consequuntur voluptate. Labore optio ea velit dolores quibusdam hic quis mollitia!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Royal Enfield</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, corporis assumenda enim aliquam laudantium at velit saepe a reprehenderit, consequuntur voluptate. Labore optio ea velit dolores quibusdam hic quis mollitia!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <button class="btn btn-lg btn-secondary mt-3">Privious</button>
            <button class="btn btn-lg btn-primary mt-3">Next</button>
            <button class="btn btn-lg btn-danger mt-3 float-end">Reset</button>
        </div>
    </div>
    <div class="card border-0" style="width:100%">
        <!-- <img src="/Assets/full-image.jpeg" class="img-fluid mt-3"/> -->
        <div class="card-img-overlay">
            <div class="card-body text-light">
                <p class="card-subtitle display-4 font-weight-bolder">Royal Enfield</p>
                <p class="card-text w-50 " style="font-size:1vw">Lorem ipsum dolor sit amet consectetur, 
                    adipisicing<br> elit. Quo, dolorum nisi. 
                    Nobis nemo <br>quidem blanditiis, eos
                    dolorem placeat<br> unde neque molestias nihil,
                    at saepe? Qui molestias recusandae illum hic ad?</p>
            </div>
        </div>
    </div>  
</body>
</html>
